</main>
    <footer>
      <script src="/js/main.js"></script>
      <div class="container center">
        <div>
          <ul>
            <li>
              <h4><i class="far fa-copyright"> </i>2018 S.E.P</h4></li>
            <li>
              <h4>PHONE: 01303 987475</h4></li>
            <li>
              <h4>EMAIL: info@skyeventsplanner.co.uk</h4></li>
            <li>
              <ul>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-instagram"></i></li>
              </ul>
            </li>
          </ul>
        </div>
        <h4>Sky Events Planner</h4>
      </div>
    </footer>
  </body>

</html>