<% include partials/header.ejs %>
      <div class="hero">
        <img src="/images/wedding1.jpg" alt="">
      </div>
      <div class="container" id="home">
        <div class="quote">
          <h2>Let us help you make your special day one to remember</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempora maiores atque aspernatur nostrum! Assumenda cum alias soluta velit. Deserunt asperiores atque doloremque placeat ullam sequi, quod cumque cum, ad qui ea non delectus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempora maiores atque aspernatur nostrum! Assumenda cum alias soluta velit. Deserunt asperiores atque doloremque placeat ullam sequi, quod cumque cum, ad qui ea non delectus?</p>
        </div>
        <a class="center" href="services"><button class="btn center" type="button" name="button">View Services</button></a>
      </div>
<% include partials/footer.ejs %>
