<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nepali Mandap</title>
    <link rel="stylesheet" href="../public/stylesheets/main.css">
  </head>

  <body>
    <header>
      <div class="container" id="top-nav">
        <div id="logo">
          Nepali Mandap
        </div>
        <div id="top-nav ar">
          <ul>
            <li>
              Services</li>
            <span></span>
            <li>
              Memories</li>
            <span> </span>
            <li>
              Plan Your Wedding</li>
            <span> </span>
            <li>
              Contact Us</li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <div id="hero">
        <img src="../public/images/hero.jpg" alt="">
      </div>
      <div class="container" id="index">
        <div class="quote">
          <h3>Let us help you make your special day one to remember.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempora maiores atque aspernatur nostrum! Assumenda cum alias soluta velit. Deserunt asperiores atque doloremque placeat ullam sequi, quod cumque cum, ad qui ea non delectus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempora maiores atque aspernatur nostrum! Assumenda cum alias soluta velit. Deserunt asperiores atque doloremque placeat ullam sequi, quod cumque cum, ad qui ea non delectus?</p>
        </div>
        <button class="center" type="button" name="button"><a href="services">View Services</a></button>
      </div>
    </main>
    <footer>

    </footer>
  </body>

</html>