<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sky Event Planner</title>
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <div class="top full head-invert">
        <div class="hamburger-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container" id="header">
          <div class="logo">
            <a href="index.html">Sky Event Planner</a>
          </div>
          <div class="top-nav">
            <ul>
              <li>
                <a href="services.html">Services</a>
              </li>
              <li>
                <a href="memories.html">Memories</a>
              </li>
              <li>
                Plan Your Event</li>
              <li>
                Contact Us</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mobile center">
        <ul>
          <li>
            Services</li>
          <li>
            Memories</li>
          <li>
            Plan Your Event</li>
          <li>
            Contact Us</li>
        </ul>
      </div>
    </header>
    <main>
      <div class="hero">
        <img src="../public/images/wedding1.jpg" alt="">
      </div>
      <div class="container" id="home">
        <div class="quote">
          <h2>Let us help you make your special day one to remember</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempora maiores atque aspernatur nostrum! Assumenda cum alias soluta velit. Deserunt asperiores atque doloremque placeat ullam sequi, quod cumque cum, ad qui ea non delectus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex tempora maiores atque aspernatur nostrum! Assumenda cum alias soluta velit. Deserunt asperiores atque doloremque placeat ullam sequi, quod cumque cum, ad qui ea non delectus?</p>
        </div>
        <a class="center" href="services"><button class="btn center" type="button" name="button">View Services</button></a>
      </div>
    </main>
    <footer>
      <div class="container center">
        <div>
          <ul>
            <li><i class="far fa-copyright"> </i>2018 S.E.P</li>
            <li>PHONE: 01303 987475</li>
            <li>EMAIL: info@skyeventsplanner.co.uk</li>
            <li>
              <ul>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-instagram"></i></li>
              </ul>
            </li>
          </ul>
        </div>
        <h5>Sky Events Planner</h5>
      </div>
    </footer>
  </body>

</html>