<% include partials/header.ejs %>
      <div class="container" id="memories">
        <div class="mtitle center">
          <h1 class="center">Our Memories</h1>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quia ipsa, pariatur, veritatis cumque debitis ratione vel impedit inventore quam tempore, dolores vitae accusantium natus blanditiis unde, corporis eos quis.</p>
        </div>
        <div class="mmain">
          <div>
            <img src="/images/memories.jpg" alt="">
            <h4 class="center">Farnborough / Sanju + Pakku</h4>
          </div>
          <div>
            <img src="/images/memories.jpg" alt="">
            <h4 class="center">Farnborough / Sanju + Pakku</h4>
          </div>
          <div>
            <img src="/images/memories.jpg" alt="">
            <h4 class="center">Farnborough / Sanju + Pakku</h4>
          </div>
          <div>
            <img src="/images/memories.jpg" alt="">
            <h4 class="center">Farnborough / Sanju + Pakku</h4>
          </div>
          <div>
            <img src="/images/memories.jpg" alt="">
            <h4 class="center">Farnborough / Sanju + Pakku</h4>
          </div>
          <div>
            <img src="/images/memories.jpg" alt="">
            <h4 class="center">Farnborough / Sanju + Pakku</h4>
          </div>
          <div>
            <img src="/images/memories.jpg" alt="">
            <h4 class="center">Farnborough / Sanju + Pakku</h4>
          </div>
          <div>
            <img src="/images/memories.jpg" alt="">
            <h4 class="center">Farnborough / Sanju + Pakku</h4>
          </div>
          <div>
            <img src="/images/memories.jpg" alt="">
            <h4 class="center">Farnborough / Sanju + Pakku</h4>
          </div>
          <div>
            <img src="/images/memories.jpg" alt="">
            <h4 class="center">Farnborough / Sanju + Pakku</h4>
          </div>
        </div>
      </div>
<% include partials/footer.ejs %>