<% include partials/header.ejs %>
      <div class="hero">
        <img src="/images/wedding1.jpg" alt="">
      </div>
      <div class="container" id="plan">
        <div class="ptitle">
          <h1 class="center">Plan Your Event</h1>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum reiciendis obcaecati, itaque molestias dolores cum omnis unde architecto, necessitatibus voluptas ex sed illo aperiam fugit facere ab dolorum alias accusamus beatae deleniti,
            neque provident laudantium perspiciatis maiores voluptate. Accusamus repellendus excepturi, saepe corrupti quam. Accusantium eligendi explicabo vero veritatis possimus.</p>
        </div>
        <div class="pform center">
          <h4 class="center">Please enter your email address uf you wish to be contacted regarding our services.</h4>
          <form action="" class="center">
            <input name="fName" type="text" placeholder="First Name" required>
            <input name="lName" type="text" placeholder="Last Name" required>
            <input name="event" type="text" placeholder="Event Name" required>
            <input name="email" type="email" placeholder="Email" required>
            <textarea name="query" rows="10" cols="40" placeholder="Any questions"></textarea>
            <submit class="center" type="submit">
              <h4>Submit</h4></submit>
          </form>
        </div>
      </div>
<% include partials/footer.ejs %>