<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sky Event Planner</title>
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <div class="top full head-invert">
        <div class="hamburger-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container" id="header">
          <div class="logo">
            <a href="index.html">Sky Event Planner</a>
          </div>
          <div class="top-nav">
            <ul>
              <li>
                <a href="services.html">Services</a>
              </li>
              <li>
                <a href="memories.html">Memories</a>
              </li>
              <li>
                Plan Your Event</li>
              <li>
                Contact Us</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mobile center">
        <ul>
          <li>
            Services</li>
          <li>
            Memories</li>
          <li>
            Plan Your Event</li>
          <li>
            Contact Us</li>
        </ul>
      </div>
    </header>
    <main>
      <div class="hero">
        <img src="../public/images/wedding1.jpg" alt="">
      </div>
      <div class="container" id="services">
        <div class="stitle">
          <h1 class="center">Our Services</h1>
          <p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum reiciendis obcaecati, itaque molestias dolores cum omnis unde architecto, necessitatibus voluptas ex sed illo aperiam fugit facere ab dolorum alias accusamus beatae deleniti,
            neque provident laudantium perspiciatis maiores voluptate. Accusamus repellendus excepturi, saepe corrupti quam. Accusantium eligendi explicabo vero veritatis possimus.</p>
        </div>
        <div class="smain">
          <div>
            <h3>Wedding</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum, architecto deleniti explicabo voluptas commodi temporibus nemo voluptate quod facilis.</p>
          </div>
          <div>
            <h3>Wedding</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum, architecto deleniti explicabo voluptas commodi temporibus nemo voluptate quod facilis.</p>
          </div>
          <div>
            <h3>Wedding</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum, architecto deleniti explicabo voluptas commodi temporibus nemo voluptate quod facilis.</p>
          </div>
          <div>
            <h3>Wedding</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum, architecto deleniti explicabo voluptas commodi temporibus nemo voluptate quod facilis.</p>
          </div>
        </div>
        <div class="sform">
          <h4 class="center">Please enter your email address uf you wish to be contacted regarding our services.</h4>
          <form action="" class="center">
            <input type="email" placeholder="Email">
            <submit class="center" type="submit">
              <h4>Submit</h4></submit>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <script src="../public/js/main.js"></script>
      <div class="container center">
        <div>
          <ul>
            <li>
              <h5><i class="far fa-copyright"> </i>2018 S.E.P</h5></li>
            <li>
              <h5>PHONE: 01303 987475</h5></li>
            <li>
              <h5>EMAIL: info@skyeventsplanner.co.uk</h5></li>
            <li>
              <ul>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-instagram"></i></li>
              </ul>
            </li>
          </ul>
        </div>
        <h5>Sky Events Planner</h5>
      </div>
    </footer>
  </body>

</html>