/* 1.2 Color Pallet */

$primaryDark: rgb(178,134,102);  //header fonts
$primaryShade: rgb(211,176,151); //highlights hovers, buttons etc
$primary: rgb(246,222,205);
$primaryLight: rgb(255,243,235);
$light: rgb(255,254,254);        //fonts header
$dark: rgb(126,126,125);         //fonts
$white: rgb(252,252,252);        //background mainly

//Extra

$bckgr-dark: rgba(56,56,56,0.4);    //background-header
