/*-------------------------------------------------------------------------------------------*/
/* 0-Utilities */
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/* 1-base */
/*-------------------------------------------------------------------------------------------*/
/* 1.1 Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* 1.2 Color Pallet */
/* 1.3 Typography */
html {
  font-size: 16px;
  line-height: 1.618; }

h3, h4, h5, h6, p {
  font-family: Montserrat-Reg, sans-serif;
  color: #7e7e7d;
  margin: 0 0 .618em;
  font-weight: normal; }

h1, h2 {
  font-family: Tangerine-Bold, serif;
  color: #7e7e7d;
  margin: 0 0 .618em;
  font-weight: normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: normal; }

h1 {
  font-size: 3em;
  line-height: 1.387em;
  color: #b28666; }

h2 {
  font-size: 2.5em;
  line-height: 1.387em; }

h3 {
  font-size: 1.387em;
  color: #b28666; }

h4 {
  font-size: 1em;
  color: #fcfcfc; }

h5 {
  font-size: 1em;
  margin: 0; }

h6 {
  font-size: 0.857em; }

p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
  orphans: 3;
  widows: 3;
  font-size: 1em; }

.quote h2 {
  font-family: Tangerine-Bold; }

/* 1.3.1 Typefaces */
@font-face {
  font-family: Montserrat-Reg;
  src: url("fonts/Montserrat/Montserrat-Regular.ttf"); }
@font-face {
  font-family: Tangerine-Bold;
  src: url("fonts/Tangerine/Tangerine-Bold.ttf"); }
/* Base */
body {
  position: relative; }

img {
  vertical-align: bottom;
  width: 100%;
  height: auto; }

hr {
  background-color: #e8e4e3;
  border: 0;
  height: 1px;
  margin-bottom: 1.618em; }

li {
  display: inline-block;
  list-style: none; }

a, a:link {
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: #fcfcfc;
  padding: 0; }

a:hover {
  color: #b28666; }

.full {
  width: 100%; }

.center {
  margin: 0 auto;
  text-align: center; }

/* 2.1 Containers & Columns */
.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 10px; }

/* 2.2 Navigation */
/*-------------------------------------------------------------------------------------------*/
/* 2-layouts */
/*-------------------------------------------------------------------------------------------*/
/* 2.3 - Header */
header {
  position: relative;
  width: 100%;
  font-family: Montserrat-Reg;
  color: #b28666; }

.hamburger-icon {
  display: none;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 100%;
  width: auto;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  z-index: 3; }
  .hamburger-icon span {
    display: block;
    height: 1px;
    width: 3em;
    padding: 3px;
    margin: 3px;
    border-radius: 1em;
    background-color: #b28666; }

.display {
  height: auto !important; }

.mobile {
  display: none;
  background-color: #fcfcfc;
  color: #b28666; }
  .mobile ul li {
    display: block; }

.head-invert {
  color: #fcfcfc;
  background-color: rgba(56, 56, 56, 0.4); }

header:hover, header div:hover, #header:hover {
  color: #b28666;
  background-color: #fcfcfc; }
  header:hover a, header div:hover a, #header:hover a {
    color: #b28666; }

#header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.top-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: auto; }
  .top-nav ul {
    height: 100%;
    vertical-align: bottom; }
    .top-nav ul li {
      display: inline-block;
      width: auto;
      padding-right: 10px;
      font-family: Montserrat-Reg;
      font-size: 0.85em;
      text-align: center;
      vertical-align: bottom;
      border-right: 1px solid #e6e6e6; }
    .top-nav ul li:last-of-type {
      border: none; }
    .top-nav ul span {
      height: 10px;
      width: 1px;
      background-color: #e6e6e6; }

@media screen and (max-width: 456px) {
  header {
    position: relative;
    width: 100%;
    font-family: Montserrat-Reg;
    color: #b28666; }

  .head-invert {
    color: #b28666;
    background-color: #fcfcfc; }

  .top-nav {
    display: none; }

  .hamburger-icon {
    display: block; }

  .mobile {
    display: block;
    height: 0px;
    transition: all 8000ms ease-in-out 2s;
    background-color: #fcfcfc;
    color: #b28666; }
    .mobile ul li {
      display: block; } }
/* Footer */
footer {
  width: 100%;
  margin-top: 20px; }
  footer div {
    color: #7e7e7d; }
    footer div div > ul > li {
      text-align: center;
      padding: 0 10px;
      border-right: 1px solid #7e7e7d; }
      footer div div > ul > li li {
        color: #d3b097;
        margin: 0.5em; }
    footer div div > ul > li:last-of-type {
      border: none; }

@media screen and (max-width: 456px) {
  footer div > ul > li {
    display: block; } }
/*-------------------------------------------------------------------------------------------*/
/* 3-components */
/*-------------------------------------------------------------------------------------------*/
/* Buttons */
button:hover {
  cursor: pointer; }

.btn {
  display: block;
  height: auto;
  width: auto;
  padding: 5px;
  vertical-align: middle;
  background-color: #d3b097;
  font-size: 1em;
  color: #fffefe; }

/* 3.3 Forms */
label {
  height: 1.5em; }

input {
  height: 3em;
  padding: 0.4em; }

textarea {
  padding: 0.4em; }

submit {
  background-color: #b28666;
  color: #fcfcfc; }

.sform form > input {
  display: block;
  width: 30em;
  margin: 1em auto; }
.sform form submit {
  display: block;
  width: 15em; }

.pform form > input {
  display: block;
  width: 30em;
  margin: 1em auto; }
.pform form submit {
  display: block;
  width: 15em; }

/*-------------------------------------------------------------------------------------------*/
/* 4-themes */
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/* 5-vendors */
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/* 6-pages */
/*-------------------------------------------------------------------------------------------*/
/* Home */
.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1; }

#home {
  margin-top: 500px; }

.quote {
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
  text-align: center; }

@media screen and (max-width: 770px) {
  #home {
    margin-top: 280px; } }
@media screen and (max-width: 456px) {
  #home {
    margin-top: 0px; } }
/* Services */
#services {
  margin-top: 460px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1em;
  grid-template-areas: "ti ti ti ti" "mn mn mn mn" "fo fo fo fo";
  background-color: #fcfcfc; }
  #services h1, #services h2, #services h3, #services p {
    text-align: center;
    margin: 0 auto; }
  #services .stitle {
    grid-area: ti;
    padding-top: 20px; }
  #services .smain {
    grid-area: mn;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(180px, auto);
    align-items: center;
    grid-gap: 3em; }
    #services .smain div {
      padding: 10px 20px; }
    #services .smain h3:after {
      content: '';
      display: block;
      background: #b28666;
      height: 2px;
      max-width: 5em;
      margin: 0.5em auto 0; }
  #services .sform {
    grid-column: fo;
    align-self: center; }

@media screen and (max-width: 770px) {
  #services {
    margin-top: 255px; } }
@media screen and (max-width: 456px) {
  .hero {
    display: none; }

  #services {
    margin-top: 0; }
    #services .smain {
      grid-area: mn;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(180px, auto);
      align-items: center;
      grid-gap: 3em; }
      #services .smain div {
        padding: 10px 20px; } }
/* Page - Memories */
#memories {
  padding: 60px 0; }
  #memories .mmain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, auto);
    grid-gap: 2em;
    padding: 0.5em; }

@media screen and (max-width: 796px) {
  #memories .mmain {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 456px) {
  #memories .mmain {
    display: grid;
    grid-template-columns: 1fr; } }
/* Plan Page */
#plan {
  margin-top: 460px;
  background-color: #fcfcfc; }
  #plan .ptitle {
    padding-top: 20px; }

/*# sourceMappingURL=main.css.map */
