/* Page - Memories */

#memories {
  padding: 60px 0;
  .mtitle{

  }
  .mmain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, auto);
    grid-gap: 2em;
    padding: 0.5em;
  }
}

@media screen and (max-width: 796px) {
  #memories {
    .mtitle{
    }
    .mmain{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 456px) {
  #memories {
    .mtitle{
    }
    .mmain{
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
