/* 3.3 Forms */

label{
  height: 1.5em;
}
input{
  height: 3em;
  padding: 0.4em;
}
textarea{
  padding: 0.4em;
}
submit{
  background-color: $primaryDark;
  color: $white;
}

form{
  margin-top: 2rem;
  input{
    border: 2px solid $primary;
    box-shadow: 0px 1px 1px $primaryShade;
  }
  textarea{
    border: 2px solid $primary;
    box-shadow: 0px 1px 1px $primaryShade;
  }
}

.sform{
  form{
    >input{
      display: block;
      width: 30em;
      margin: 1em auto;
    }
    textarea{
      width: 30em;
    }
    submit{
      display: block;
      width: 15em;
    }
  }
}

.pform{
  form{
    >input{
      display: block;
      width: 30em;
      margin: 1em auto;
    }
    submit{
      display: block;
      width: 15em;
    }
  }
}
