/* 2.3 - Header */

header{
  position: relative;
  width: 100%;
  font-family: Montserrat-Reg;
  color: $primaryDark;
  //z-index: 100;
}
.hamburger-icon{
  display: none;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  height: 100%;
  width: auto;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  z-index: 3;
  span{
    display: block;
    height: 1px;
    width: 3em;
    padding: 3px;
    margin: 3px;
    border-radius: 1em;
    background-color: $primaryDark;
  }
}
.display{
  display: block !important;
  height: auto !important;
}
.mobile{
  display: none;
  height:0px;
  background-color: $white;
  color: $primaryDark;
  transition: all 8s ease-in-out 2s;
  ul{
    li{
      display: none;
      height: 0px;
      transition: height 8s ease-in-out 2s;
    }
  }
}

.head-invert {
  color: $white;
  background-color: $bckgr-dark;
}

header:hover,header div:hover,#header:hover{
  color: $primaryDark;
  background-color: $white;
  a{
    color: $primaryDark;
  }
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: auto;
  ul{
    height: 100%;
    vertical-align: bottom;
    li{
      display: inline-block;
      width: auto;

      padding-right: 10px;
      font-family: Montserrat-Reg;
      font-size: 0.85em;
      text-align: center;
      vertical-align: bottom;
      border-right: 1px solid rgb(230,230,230);
    }
    li:last-of-type{
      border: none;
    }
    span{
      height: 10px;
      width:1px;
      background-color: rgb(230,230,230);
    }
  }
}

@media screen and (max-width: 456px){
  header{
    position: relative;
    width: 100%;
    font-family: Montserrat-Reg;
    color: $primaryDark;
  }
  .head-invert {
    color: $primaryDark;
    background-color: $white;
  }
  .top-nav{
   display: none;
  }
  .hamburger-icon{
    display: block;
  }
  .mobile{
   display: none;
   height: 0px;
   transition: all 8000ms ease-in-out 2s;
   background-color: $white;
   color: $primaryDark;
   ul{
     li{
       display: block;
     }
   }
  }
}
